
button {
    width: auto;
    min-width: 175px;
    max-width: 220px;
    height: 45px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    color:white;
    cursor:pointer;
    font-size: 1rem;
    align-self:center;
}

button:disabled,
button[disabled]{
  background: #4D5B9E;
  opacity: 0.4;
  color: white;
  cursor: initial;
}